.tabs {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    position: relative;
    background: white;
    padding: 50px;
    padding-bottom: 80px;
    width: 50%;
    height: 400px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
    border-radius: 5px;
    min-width: 240px;
    z-index: 100;
}
